
.row {
  display: flex;
}
.column {
  display: flex;
  flex-direction: row;
}
#display {
  background-color: rgb(52, 51, 51);
  color: white;
  border: solid black;
  height: 50px;
  width: 233px;
  position: relative;
}

#clearDisplay {
  background-color: red;
}
#equals {
  background-color: green;
}
.key {
  border: solid black;
  padding: 20px;
  height: 10%;
  width: 1%;
}
.operator {
  background-color: goldenrod;
}

.operand {
  background-color: grey;
}
#clearDisplay:hover {
  background-color: rgb(254, 118, 118);
}
.operand:hover {
  background-color: rgb(193, 192, 192);
}
.operator:hover {
  background-color: rgb(248, 188, 36);
}
#equals:hover {
  background-color: rgb(9, 196, 9);
}
